<div class="center jumbotron">
	<h1>Welcome to DJDB</h1>
<p>DJDB breaks down the gear, tools, and products used by artists, pros, and influencers in their craft.</p>

<!-- DJS -->
<div class="center jumbotron">
	<h2> DJs </h2>
<!-- row -->
    <div class = "row">
        <!-- <div class="clearfix visible-xs-block"></div> -->
        <%  @djs.each do |dj| %>
        <!-- column -->
        <div class= "col-xs-12 col-sm-4" >
            <a href = <%=dj_path(dj)%>>
            <!--<%= image_tag( dj.name+".jpg", :alt => "djs-images", class:"img-responsive", style: "min-height: auto")%>-->
            <%= image_tag dj.avatar.url(:medium),class:"img-responsive img-rounded img-thumbnail" %>
            </a>
            <strong>
            <%= link_to dj.name, dj_path(dj) %>
        </strong>
          </div>
        <% end %>
    </div>
<a href = <%=djs_path%>>
<button type="button" class="btn btn-default btn-lg">
	Full Dj List
  <!--<%= link_to 'Full Dj List', djs_path %>-->
</button>
</a>

<!-- DJs -->
<!-- GEARS -->

	<h2> GEARs </h2>
<!-- row -->
    <div class = "row">
        <%  @gears.each do |gear| %>
        <!-- column -->
        <div class= "col-xs-12 col-sm-4" >
            <strong>
            <%= link_to gear.name, gear_path(gear) %>
	        </strong>
        </div>
        <% end %>
    </div>
<a href = <%=gears_path%>>
<button type="button" class="btn btn-default btn-lg">
	Full Gear List
</button>
</a>

<!-- GEARS -->
</div>
</div>
