
    <div class="container" style="">
    	<h1><strong>Welcome to DJ Database</strong> </h1>
    <h2>Find djs and gears they use!</h2>

</div>

<!-- DJS -->
<div class="" style="margin: 10px">
    <div class="page-header">
        <h2> DJs <small>
            <a href=<%=djs_path%>>See more</a>
        </small></h2>
    </div>
	
<!-- row -->
    <div class = "row" style="margin: 10px" >
        <!-- <div class="clearfix visible-xs-block"></div> -->
        <%  @djs.each do |dj| %>
        <!-- column -->
        <div class= "col-xs-12 col-sm-3" >
            <div class="">
            <a href = <%=dj_path(dj)%>>
            <!--<%= image_tag( dj.name+".jpg", :alt => "djs-images", class:"img-responsive", style: "min-height: auto")%>-->
            <%= image_tag dj.avatar.url(:medium),class:"img-responsive img-rounded" %>
            </a>
            <div class="caption">
            <h3>
            <%= link_to dj.name, dj_path(dj) %>
            </h3>
            <p>Genre: <br><%=dj.genre %></p>
        </div>
    </div>
          </div>
        <% end %>
    </div>

</div>
<!-- DJs -->
<!-- GEARS -->
<div class="" style="margin: 10px" >
	<div class="page-header">
        <h2> Gears <small>
            <a href=<%=gears_path%>>See more</a></small></h2>
    </div>
<!-- row -->
    <div class = "row"  style="margin: 10px">
        <%  @gears.each do |gear| %>
        <!-- column -->
        <div class= "col-xs-12 col-sm-3">
            <div class= "">
        	<a href = <%=gear_path(gear)%>>
            <%= image_tag gear.avatar.url(:medium),class:"img-responsive img-rounded ",style:"margin:20px" %>
            </a>
            <div class="caption">
            <h3>
            <%= link_to gear.name, gear_path(gear) %>
            </h3>
        </div>
        </div>
    </div>
        <% end %>

    </div>

</div>
<!-- GEARS -->
