

<%= form_for(@djs_gear) do |f| %>
<%= f.hidden_field :dj_id, value: params[:dj_id] %>
<%= f.hidden_field :gear_id, value: params[:gear_id] %>


<h2>Dj: <%= @dj.name %></h2>



 <div class="field">
    <%= f.label :gear_id %><br />
    <%= f.text_field :gear_id, autofocus: true , class:"form-control"%>
 </div>

 <div class="form-actions">
    <%= f.button :submit %>
</div>

<% end %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
      <%  @gears.each do |gear| %>
      <tr>
        <td><a href = <%=gear_path(gear)%>><%= image_tag gear.avatar.url(:medium),class:"img-responsive img-rounded ",style:"margin-buttom:10px" %></a></td>
        <td><p><%= gear.id %></p></td>
        <td><p><%= gear.name %></p></td>
      </tr>
  </tbody>
  <% end %>
  </table>



