<!--<%= simple_form_for(@djs_gear) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>-->




<%= form_for(@djs_gear) do |f| %>
<%= f.hidden_field :dj_id, value: params[:dj_id] %>
<%= f.hidden_field :gear_id, value: params[:gear_id] %>


<h2>Dj: <%= @dj.name %></h2>



 <div class="field">
    <%= f.label :gear_id %><br />
    <%= f.text_field :gear_id, autofocus: true , class:"form-control"%>
 </div>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
        <%  @gears.each do |gear| %>
        <!-- column -->
        <div class= "box col2" >
        <div class= "">
          <a href = <%=gear_path(gear)%>>
            <%= image_tag gear.avatar.url(:medium),class:"img-responsive img-rounded ",style:"margin-buttom:10px" %>
            </a>
            <div class="caption">
            <p>
            <%= link_to gear.name, gear_path(gear) %>
            <% gear.id %> 
            </p>
        </div>
        </div>
    </div>
        <% end %>

    </div>

<div class="form-actions">
    <%= f.button :submit %>
</div>

<% end %>