
<% if user_signed_in? && current_user.id == 1 %>
<%= form_for(@djs_gear) do |f| %>
<%= f.hidden_field :dj_id, value: params[:dj_id] %>
<%= f.hidden_field :gear_id, value: params[:gear_id] %>


<h2>Dj: <%= @dj.name %></h2>



<div class="field">
  <%= f.label :gear_id %>
  <%= f.select 'gear_id',gears_options, multiple: true, class: "form-control",
   :style => "text-align:center" %>
</div>













 <div class="form-actions">
    <%= f.button :submit %>
</div>

<% end %>
<% else %> 
<h1> YOU ARE NOT ADMIN </h1>
<% end %>