
<%= form_for @user, html:{ multipart:true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :avatar %>
    <%= f.file_field :avatar, html:{class: 'center'} %>
    <% if f.object.avatar? %>
    <br />
    <%= image_tag(f.object.avatar.url(:small)) %><br />
    <em>Currently uploaded image</em>
    <p>
      <%= f.object.avatar_file_name %>
    </p>
    <% if @user.persisted? %>
    <%= link_to 'Remove profile photo', remove_user_photo_path %>
    <% end %>
    <% end %>

  
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
 </div>