<div class = "center jumbotron">
	<h1>Editing User</h1>

<%= link_to "Change your password or email", edit_user_registration_path %>

<br>

<%= form_for @user, :url => users_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>



<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>