<div class="row">
<div class="col-md-4"></div>
  <div class="col-md-6">

<p id="notice"><%= notice %></p>


<div>
<!-- <%= image_tag @user.avatar.url %> -->
<%= image_tag @user.avatar.url(:medium), class: "img-thumbnail" %>
<!-- <%= image_tag @user.avatar.url(:thumb) %> -->
</div>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</div>