<% if user_signed_in? && current_user.id == 1 %>
<%= simple_form_for(@dj)  do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true , class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description,class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.text_field :genre,class:"form-control"%>
  </div>  

  
  <div class="container">
  <%= f.label :DJ_picture %>
    <%= f.file_field :avatar, html:{class: 'center'} %>
  <% if f.object.avatar? %>
    <br/>
    <%= image_tag(f.object.avatar.url(:small)) %><br />
    <em>Currently uploaded image</em>
    <p><%= f.object.avatar_file_name %></p>
    <%= link_to 'Remove profile photo', remove_dj_photo_path %><br>
  <% end %>
  </div>


  <div class="form-actions ">
    <%= f.button :submit, class:"btn btn-success col-sm-12" %>
  </div>
  <%= f.error_notification %>

<% end %>




<% else %> 
<h1> YOU ARE NOT ADMIN </h1>
<% end %>