<div class="center jumbotron">
    <h1>DJDatabase</h1> 
    <h2>Find djs and gears they use!</h2>
    <% if user_signed_in? %>
    <a href = <%=new_dj_path%>><button class = "btn btn-success btn-lg" >Add New Dj</button>
    </a>
    <p>
        <% end %>
    </p>

    <!-- row -->
    <div class = "row">
        <div class="clearfix visible-xs-block"></div>
        <%  @djs.each do |dj| %>
        <!-- column -->        
        <div class= "col-xs-12 col-sm-4" style = "height:250px">
            <a href = <%=dj_path(dj)%>>
            <%= image_tag( dj.name+".jpg", :alt => "djs-images", class:"img-responsive", style: "min-height: 175px")%>
            <%= link_to dj.name, dj_path(dj) %>
            </a>
          </div>
        <% end %>
    </div>
    
    <div class="apple_pagination">
        <div class="page_info">
          <%= page_entries_info @djs %>
        </div>
        <%= will_paginate @djs%>
    </div>


</div>