
<h1>Artist</h1>
<p>
  We’re a community building the ultimate database of music producers and the gear they use. Whether in their studio or as part of their live setup, our goal is to catalog all the VST plugins they use, their DAW, every synthesizer and drum machine, and the rest of their equipment. 
</p>

<!-- <table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @djs.each do |dj| %>
      <tr>
        <td><%= dj.name %></td>
        <td><%= dj.description %></td>
        <td><%= dj.genre %></td>
        <td><%= link_to 'Show', dj %></td>
        <td><%= link_to 'Edit', edit_dj_path(dj) %></td>
        <td><%= link_to 'Destroy', dj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class = "container">
  <tr class = "imgrow">
  <% @djs.each do |dj| %>
    <td data-gallery>
    <%= image_tag( dj.name+".jpg", :alt => "djs-images",class:"img-responsive", style: "width:300px; height:200px;")%>
    <%= link_to dj.name, dj_path(dj) %>
    </td>
  <% end %>
  </tr>
</div>

<br>

<%= link_to 'New Dj', new_dj_path %>
