
<h1>Top Artist</h1> 
<button class = "btn btn-success btn-lg">Add an Artist</button>
<br>
<br>

<!-- <table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @djs.each do |dj| %>
      <tr>
        <td><%= dj.name %></td>
        <td><%= dj.description %></td>
        <td><%= dj.genre %></td>
        <td><%= link_to 'Show', dj %></td>
        <td><%= link_to 'Edit', edit_dj_path(dj) %></td>
        <td><%= link_to 'Destroy', dj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class = "container-fluid">
  <div class = "row-fluid" style=" height:auto max-width:33% ">
  <% @djs.each do |dj| %>
    <div class= "span2" >
    <a href = <%=dj_path(dj)%>>
    <%= image_tag( dj.name+".jpg", :alt => "djs-images", class:"img-responsive", style: "width: 100%")%>
    </a>
    <%= link_to dj.name, dj_path(dj) %>
    </div>
  <% end %>
  </div>
</div>

<br>

<%= link_to 'Add New Dj', new_dj_path %>
