<div class = "center jumbotron" >

  <p id="notice"><%= notice %></p>

<div class="container text-center">
<%= image_tag( @dj.name+".jpg", :alt => "djs-images",class:"img-responsive img-rounded") %>
</div>
<h1>
  <strong>
  <%= @dj.name %>
  </strong>
</h1>

<p>
  <strong>Description:</strong>
  <%= @dj.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @dj.genre %>
</p>
<p>
  <strong>ID:</strong>
  <%= @dj.id %>
</p>
<% if user_signed_in? %>
	<%= link_to 'Destroy', @dj, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Edit', edit_dj_path(@dj) %> |
	<%= link_to 'Back', djs_path %>
<% else %>
<% end %>


</div>