<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dj.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dj.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @dj.genre %>
</p>

<%= link_to 'Edit', edit_dj_path(@dj) %> |
<%= link_to 'Back', djs_path %>
