<div class="well bs-component">
<div class=" col-md-12"><!-- Profile -->
  <div class="col-md-4">
    <div>
      <%= image_tag @dj.avatar.url(:medium),class:"img-responsive img-rounded" %>
    </div>
  </div>
  <div class="col-md-6">
    <p id="notice"><%= notice %></p>
    <h1>
      <strong>
      <%= @dj.name %>
      </strong>
    </h1>
    <h3>
      <strong>Bio:</strong>
    </h3>
    <h4>
      <%= @dj.description %>
    </h4>
    <p>
      <strong>Genre:</strong>
      <%= @dj.genre %>
    </p>
    <% if user_signed_in? && current_user.id == 1 %>
    	<%= link_to 'Destroy', @dj, method: :delete, data: { confirm: 'Are you sure?' } %>
    	<%= link_to 'Improve This Page!', edit_dj_path(@dj) %>
    <% else %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div><!-- End of Profile -->
<!-- DjsGear -->
<div class = " col-sm-12">
      <div class="page-header">
        <h3>Gears <strong><%= @dj.name %></strong> Use:</h3><br>
        <% if user_signed_in? && current_user.id == 1 %>
        <a href=<%= new_djs_gear_path(dj_id: @dj)%> class="btn btn-success" role="button">Submit a gear the <%=@dj.name%> use</a>
        <%else%>
        <%end%>
      </div>
  <% if @dj.gears.count == 0 %>
    <p> This DJ have no recorded gear. </p>
  <%else%>
  <% @dj.gears.each do |gear| %>
    <div class= "col-xs-12 col-sm-2">
      <a href = <%=gear_path(gear)%>>
        <%= image_tag gear.avatar.url(:thumb),class:"img-responsive img-rounded " %>
      </a>
      <div class="caption">
      <h4>
        <%= link_to gear.name, gear_path(gear) %>
      </h4>
      </div>
    </div>
<% end %>
<% end %>
</div>
<!-- End of DjsGear -->
<!-- Comment Section -->
<div class = "">
  <div class="page-header">
    <h3> <strong>Comments</strong> on this DJ</h3>
  </div>
  <%= commontator_thread(@dj) %>
</div>
</div><!-- Container -->




