<%= simple_form_for(@gear) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true , class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class:"form-control"%>  
  </div>
  <div class="field">
    <%= f.label :buy_link %>
    <%= f.text_field :buylink, class:"form-control"%>  
  </div>




   <%= f.label :gear_picture %>
    <%= f.file_field :avatar, html:{class: 'center'} %>
      <% if f.object.avatar? %>
      <br />
      <%= image_tag(f.object.avatar.url(:small)) %><br />
      <em>Currently uploaded image</em>
      <p><%= f.object.avatar_file_name %></p>
      <%= link_to 'Remove profile photo', remove_gear_photo_path %>
      
  <% end %>

  <div class="form-actions ">
    <%= f.button :submit, class:"btn btn-success col-sm-12" %>
  </div>
<% end %>
