<%= simple_form_for(@gear) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <!--
    <%= f.input :geartype_id %>
    <%= f.input :dj_id %>
    -->
  </div>
   <%= f.label :avatar %>
    <%= f.file_field :avatar, html:{class: 'center'} %>
      <% if f.object.avatar? %>
      <br />
      <%= image_tag(f.object.avatar.url(:small)) %><br />
      <em>Currently uploaded image</em>
      <p><%= f.object.avatar_file_name %></p>
      <%= link_to 'Remove profile photo', remove_gear_photo_path %>
      
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
