<div class="center jumbotron">
	<p id="notice"><%= notice %></p>



<div class="container text-center ">
<%= image_tag @gear.avatar.url(:medium),class:"img-responsive img-rounded" %>
</div>

<p>
  <strong>Name:</strong>
  <%= @gear.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gear.description %>
</p>

<p>
  <strong>Geartype:</strong>
  <%= @gear.geartype_id %>
</p>

<p>
  <strong>Dj:</strong>
  <%= @gear.dj_id %>
</p>
<p>
	<strong>Dj that use </strong>
<%= @gear.name %>	<% @gear.djs.each do |dj|%>
    <h2><%= link_to dj.name, dj_path %></h2><br>
	<% end %>
</p>
<%= link_to 'Edit', edit_gear_path(@gear) %> |
<%= link_to 'Back', gears_path %>

</div>