<div class="row">
<div class="col-md-4">
<<<<<<< HEAD
  <div class="container text-center ">
<%= image_tag @gear.avatar.url(:medium),class:"img-responsive img-rounded" %>
=======
<div class="container text-center ">
<%= image_tag @gear.avatar.url(:medium),class:"img-responsive img-rounded" %> 
>>>>>>> building-geartype
</div>
</div>
  <div class="col-md-6">
	<p id="notice"><%= notice %></p>


<p>
  <h1>
  <%= @gear.name %>
</h1>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @gear.description %>
</p>

<% if @gear.buylink? %>
<a href= <%=@gear.buylink%> ><button class="btn btn-success">BUY NOW</button></a>
<%else%>
<% end %>
<!-- 
<p>
  <strong>Geartype:</strong>
  <%= @gear.geartype_id %>
</p>
 -->

<%= link_to 'Improve this page!!', edit_gear_path(@gear) %> <!-- |
<%= link_to 'Back', gears_path %> -->


<div class="col-md-2"></div>

</div>
</div>







<div class="container">
  <div class="page-header">
  <h3><strong>Dj that use </strong>
<%= @gear.name %></h3>
</div>  
<% if @gear.djs.count == 0 %>
<p> We have no record of Dj that use this product, you can add one!! </p>
<% else %>
<% @gear.djs.each do |dj|%>
<div class="col-xm-12 col-sm-4">
    <%= image_tag dj.avatar.url(:medium),class:"img-responsive img-rounded " %>
    <h2><%= link_to dj.name, dj_path %></h2><br>
    
    <% end %>
  <% end %>

</div>
</div> 




<div class = "">
  <div class="page-header">
    <h3> Comments on this Gear</h3>
  </div>
  <%= commontator_thread(@gear) %>
</div>