<div class="navbar navbar-default navbar-fixed-top" >
  <nav class="navbar-inner " id="header-wrap"  >
  <div class="container-fluid">
    <div class = "navbar-header">
      <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#bs-example-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <%= link_to "DJDatabase", root_path, class: "navbar-brand" %>
    </div>
      <div class=" collapse navbar-collapse " id="bs-example-navbar-collapse">
      <ul class=" nav navbar-nav">
            
            <li role="presentation">
              <%= link_to "Home", root_path %>
            </li>  
            <li role="presentation">
              <%= link_to "About", about_path %>
            </li>
            <li role="presentation">
              <%= link_to "Contact", contact_path %>
            </li>
            <li class="divider"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Library <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "DJs", djs_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Gears", gears_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Submit<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "New DJs", new_dj_path %></li>
                <li class="divider"></li>
                <li><%= link_to "New Gears", new_gear_path %></li>
              </ul>
            </li>
        <% if user_signed_in? %>
              <li class="divider"></li>
              <li>
                <li><%= link_to current_user.email, user_path(id: current_user.id) %></li>
              <li><%= link_to "Log Out",destroy_user_session_path, :method => :delete  %></li>
              </li>
        <% else %>
          <li class="divider"></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Create Account",new_user_registration_path %></li>
        <% end %>

      <li>
      <div id = "allsearch" class="navbar-right">
      <%= form_tag(allresult_path, :method => "get", class: "container navbar-form navbar-right", role:"serach") do %>
        <div class="form-group">

          <%= text_field_tag :search, params[:search], style: "color:black", placeholder: "Search ..." %>
          <% end %>
        </div>
      </div>
    </li>


      </ul>
      

    </div>
  </div>
</nav>
</div>


