<!DOCTYPE html>
<html>
<head>
  <title>DJDB&reg;</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="//twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="//twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>  
    
    

    <!-- <script src="assets/javascripts/masonry.pkgd.min.js"></script>-->

    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <!-- <title>Narrow Jumbotron Template for Bootstrap</title> -->
    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="jumbotron-narrow.css" rel="stylesheet"> -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
    <%= render 'layouts/shim' %>
</head>

<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
<% end %>


  <div class="container">
	<%= render 'layouts/body' %>
  <%= render 'layouts/footer' %>
  </div>
  <!--<%= debug(params) if Rails.env.development? %>-->
  
</html>
